@use '../../../../styles/mixins' as m;

:host {
  @include m.host-flex;
  flex-direction: column;
  justify-content: flex-start;
}

.vertical-content{
  width: 100%;
  @include m.host-flex;
  justify-content: flex-start;
}
