@use '../../../../styles/mixins' as m;
@use '../../../../styles/variables' as v;

:host {
  @include m.host-flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.vertical-content{
  width: 100%;
  @include m.host-flex;
  justify-content: flex-start;
}

.content-container{
  height: calc(100vh - v.$header-height - v.$footer-height);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--content-padding);
  overflow: auto;
}
