<p-button
  class="ml-3"
  styleClass="p-button-raised p-button-text"
  [label]="'INFO.download' | translate"
  (onClick)="exportPDF(forExport)">
</p-button>
<div class="container container__visible flex flex-column w-full mt-3">
  <ng-container *ngTemplateOutlet="template"></ng-container>
</div>

<div #forExport class="export surface-ground">
  <div class="container flex flex-column w-full">
    <ng-container *ngTemplateOutlet="template"></ng-container>
  </div>
</div>

<ng-template #template>
  <div class="name-wrapper">
    <h2 class="name">{{ cv.firstName }} {{ cv.lastName }}</h2>
    <p class="description">{{ cv.description }}</p>
  </div>
  <div class="columns flex w-full gap-3">
    <div class="left-col flex flex-column w-3 min-w-min gap-3">
      <p-fieldset [legend]="'ENTITIES.skills' | translate">
        <ul>
          <li
            *ngFor="let skill of cv.skills"
            class="flex flex-column align-items-start">
            <p>{{ skill.name }}</p>
            <app-skill-level [level]="skill.level"></app-skill-level>
          </li>
        </ul>
      </p-fieldset>
      <p-fieldset [legend]="'ENTITIES.langs' | translate">
        <ul>
          <li
            *ngFor="let lang of cv.langs"
            class="flex flex-column align-items-start">
            <p>{{ lang.name }}</p>
            <app-skill-level [level]="lang.level"></app-skill-level>
          </li>
        </ul>
      </p-fieldset>
    </div>
    <div class="right-col flex flex-column flex-grow-1">
      <ul class="flex flex-column gap-3">
        <li
          *ngFor="let project of cv.projects"
          class="flex flex-column align-items-start project-item">
          <h2 class="project-name">{{ project.name }}</h2>
          <small class="w-full text-right font-semibold"
            >{{ project.dates.start | date }} -
            {{ project.dates.end | date }}</small
          >
          <p>{{ project.description }}</p>
          <div
            class="flex flex-column justify-content-start align-items-start gap-2 w-full">
            <div>
              <p class="font-semibold">
                {{ 'ENTITIES.responsibilities' | translate }}
              </p>
              <ul>
                <li *ngFor="let resp of project.responsibilities">
                  {{ resp }}
                </li>
              </ul>
            </div>
            <div>
              <p class="font-semibold">{{ 'INFO.technologies' | translate }}</p>
              <ul>
                <li *ngFor="let tech of project.techStack">
                  {{ tech }}
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
