@use '../../../../styles/mixins' as m;

:host ::ng-deep {
  .p-fieldset {
    .p-fieldset-legend{
      padding: 0.5rem;
      color: inherit;
      background: var(--surface-a);
    }

    .p-fieldset-content {
      padding: 0 0.25rem;
    }
  }
}

.container{
  background-color: var(--surface-b);
  padding: 0 var(--content-padding) var(--content-padding);
  border-radius: var(--border-radius);

  &__visible{
    @include m.mobile{
      .columns {
        flex-direction: column;
      }

      .left-col {
        flex-direction: row !important;
        width: 100% !important;
        justify-content: space-between;
        gap: 0.5rem !important;

        p-fieldset{
          flex-grow: 1;
        }
      }
    }
  }
}

.name-wrapper{
  border-radius: var(--border-radius);
  margin-left: calc(var(--content-padding) * -1);
  margin-right: calc(var(--content-padding) * -1);
}

.name,
.description{
  width: 100%;
  text-align: end;
}

.name{
  margin: 0;
  padding: var(--content-padding);
  background-color: var(--highlight-bg);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.description{
  margin: .5rem 0;
  padding: var(--content-padding);
}

.export{
  position: absolute;
  width: 595pt;
  top: -1000%;
  background-color: var(--surface-a);
  font-family: "OpenSans-Regular", sans-serif;

  .left-col{
    width: 50rem !important;
    gap: 2rem !important;
  }

  .name{
    background: var(--surface-d);
    border-radius: 0;
  }

  .name,
  .project-name{
    font-family: 'OpenSans-Bold';
    word-spacing: 0.5rem;
  }

  .font-semibold{
    font-family: 'OpenSans-SemiBold';
  }
}

.transparent{
  color: transparent;
}

.project-item{
  background-color: var(--surface-a);
  border-radius: var(--border-radius);
  padding: var(--content-padding);
}
