<p-button
  styleClass="p-button-raised p-button-text"
  [label]="'INFO.preview' | translate"
  (onClick)="previewMode = !previewMode"
  *ngIf="!previewDisabled">
</p-button>
<app-cv-template *ngIf="previewMode" [cv]="cv"></app-cv-template>
<form
  [formGroup]="infoForm"
  (submit)="onSubmit()"
  class="flex flex-column gap-2 mt-3"
  *ngIf="!previewMode">
  <p-accordion [multiple]="true" [activeIndex]="[0, 1, 2]">
    <p-accordionTab [header]="'EMPLOYEES.tabs.info.panelInfo' | translate">
      <div class="inputs formgrid grid">
        <app-labelled-input
          controlName="firstName"
          class="field col-12 sm:col-6"
          [errors]="firstName.errors"
          [showError]="firstName.invalid && firstName.touched">
          <input pInputText type="text" formControlName="firstName" />
        </app-labelled-input>

        <app-labelled-input
          controlName="lastName"
          class="field col-12 sm:col-6"
          [errors]="lastName.errors"
          [showError]="lastName.invalid && lastName.touched">
          <input pInputText type="text" formControlName="lastName" />
        </app-labelled-input>

        <app-labelled-input
          controlName="description"
          class="field col-12"
          [errors]="description.errors"
          [showError]="description.invalid && description.touched">
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            formControlName="description"></textarea>
        </app-labelled-input>
      </div>
    </p-accordionTab>

    <p-accordionTab
      [header]="'ENTITIES.skills' | translate"
      contentStyleClass="flex flex-column gap-3 align-items-end">
      <app-skill-form
        arrayName="skills"
        [initValue]="cv.skills"
        [options$]="techOptions$"
        [resetForm$]="resetForm$"
        [markAsTouched$]="markAsTouched$"></app-skill-form>
    </p-accordionTab>

    <p-accordionTab
      [header]="'ENTITIES.langs' | translate"
      contentStyleClass="flex flex-column gap-3 align-items-end">
      <app-skill-form
        arrayName="langs"
        [initValue]="cv.langs"
        [options$]="langOptions$"
        [resetForm$]="resetForm$"
        [markAsTouched$]="markAsTouched$"></app-skill-form>
    </p-accordionTab>

    <app-project-form
      [resetForm$]="resetForm$"
      [markAsTouched$]="markAsTouched$"
      [initProjects]="cv.projects"></app-project-form>
  </p-accordion>

  <div class="btn-container flex justify-content-end gap-3">
    <p-button
      [label]="'BUTTONS.cancel' | translate"
      styleClass="p-button-raised p-button-text"
      type="button"
      (onClick)="onCancel()"></p-button>
    <p-button
      [label]="'BUTTONS.save' | translate"
      styleClass="p-button-raised"
      type="submit"></p-button>
  </div>
</form>

<app-dialog
  [isShown]="showSaveMessage"
  [textToTranslate]="message"></app-dialog>
