<p-button
  styleClass="p-button-raised p-button-text"
  [label]="'INFO.preview' | translate"
  (onClick)="togglePreviewMode()"
  *ngIf="!previewDisabled">
</p-button>
<app-cv-template *ngIf="previewMode" [cv]="cv"></app-cv-template>
<form
  [formGroup]="infoForm"
  (submit)="onSubmit()"
  class="flex flex-column gap-2"
  *ngIf="!previewMode">
  <p-accordion [multiple]="true" [activeIndex]="[0, 1, 2]">
    <p-accordionTab [header]="'EMPLOYEES.tabs.info.panelInfo' | translate">
      <div class="inputs formgrid grid">
        <app-labelled-input
          controlName="firstName"
          class="field col-6"
          [errors]="firstName.errors"
          [showError]="firstName.invalid && firstName.touched">
          <input pInputText type="text" formControlName="firstName" />
        </app-labelled-input>

        <app-labelled-input
          controlName="lastName"
          class="field col-6"
          [errors]="lastName.errors"
          [showError]="lastName.invalid && lastName.touched">
          <input pInputText type="text" formControlName="lastName" />
        </app-labelled-input>

        <app-labelled-input
          controlName="description"
          class="field col-12"
          [errors]="description.errors"
          [showError]="description.invalid && description.touched">
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            formControlName="description"></textarea>
        </app-labelled-input>
      </div>
    </p-accordionTab>

    <p-accordionTab
      *ngFor="let array of skillsControl"
      [header]="'ENTITIES.' + array.name | translate"
      contentStyleClass="flex flex-column gap-4 align-items-end">
      <ul
        [formArrayName]="array.name"
        class="flex flex-column gap-3 justify-content-center w-full">
        <li *ngFor="let item of array.control.controls; let i = index">
          <app-labelled-input
            [controlName]="array.itemName"
            [showLabel]="false"
            class="field col-6"
            [errors]="item.errors || null"
            [showError]="item.invalid && item.touched">
            <app-level-input
              [formControl]="array.control.controls[i]"
              [options]="(array.options | async) || []"
              [selectedLevelIndex]="item.value?.level || 0"
              [selectedOption]="item.value?.name || ''"
              (optionRemoved)="
                onItemRemove(i, array.control)
              "></app-level-input>
          </app-labelled-input>
        </li>
      </ul>
      <p-button
        icon="pi pi-plus"
        styleClass="p-button-text"
        (onClick)="addItem(array.control)"
        [label]="'INFO.add' + array.itemName | translate"></p-button>
    </p-accordionTab>

    <p-button
      icon="pi pi-plus"
      styleClass="p-button-text"
      (onClick)="addProject()"
      [label]="'INFO.addProject' | translate"></p-button>

    <ul formArrayName="projects">
      <li *ngFor="let project of projects.controls; let i = index">
        <p-accordionTab
          headerStyleClass="tab-header"
          contentStyleClass="flex flex-column gap-4 align-items-end">
          <ng-template pTemplate="header">
            <div class="flex align-items-center justify-content-between w-full">
              <span class="vertical-align-middle">{{
                project.controls.name.value
              }}</span>
              <p-button
                icon="pi pi-trash"
                styleClass="p-button-text p-button-rounded"
                (onClick)="deleteProject($event, i)"></p-button>
            </div>
          </ng-template>
          <div class="inputs formgrid grid" [formGroup]="projects.controls[i]">
            <app-labelled-input
              controlName="name"
              class="field col-4"
              [errors]="project.controls.name.errors"
              [showError]="
                project.controls.name.invalid && project.controls.name.touched
              ">
              <input pInputText type="text" formControlName="name" />
            </app-labelled-input>

            <app-labelled-input
              controlName="dates"
              class="field col-8"
              [showLabel]="false"
              [errors]="project.controls.dates.errors"
              [showError]="
                project.controls.dates.invalid && project.controls.dates.touched
              "
              [translationParams]="['INFO.startDate', 'INFO.endDate']">
              <app-double-date
                [startDate]="project.controls.dates.value.start"
                [endDate]="project.controls.dates.value.end"
                formControlName="dates">
              </app-double-date>
            </app-labelled-input>

            <app-labelled-input
              controlName="techStack"
              [errors]="project.controls.techStack.errors"
              class="field col-7"
              [showError]="
                project.controls.techStack.invalid &&
                project.controls.techStack.touched
              ">
              <p-autoComplete
                formControlName="techStack"
                [suggestions]="(techOptionsFiltered$ | async) || []"
                (completeMethod)="filterTechStack($event.query)"
                [multiple]="true"
                [dropdown]="true"></p-autoComplete>
            </app-labelled-input>

            <app-labelled-input
              controlName="responsibilities"
              [errors]="project.controls.responsibilities.errors"
              class="field col-7"
              [showError]="
                project.controls.responsibilities.invalid &&
                project.controls.responsibilities.touched
              ">
              <p-autoComplete
                formControlName="responsibilities"
                [suggestions]="(respOptionsFiltered$ | async) || []"
                (completeMethod)="filterResponsibilities($event.query)"
                [multiple]="true"
                [dropdown]="true"></p-autoComplete>
            </app-labelled-input>

            <app-labelled-input
              controlName="domain"
              class="field col-7"
              [errors]="project.controls.domain.errors"
              [showError]="
                project.controls.domain.invalid &&
                project.controls.domain.touched
              ">
              <input pInputText type="text" formControlName="domain" />
            </app-labelled-input>

            <app-labelled-input
              controlName="description"
              class="field col-12"
              [errors]="project.controls.description.errors"
              [showError]="
                project.controls.description.invalid &&
                project.controls.description.touched
              ">
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                formControlName="description"></textarea>
            </app-labelled-input>
          </div>
        </p-accordionTab>
      </li>
    </ul>
  </p-accordion>

  <div class="btn-container flex justify-content-end gap-3">
    <p-button
      [label]="'BUTTONS.cancel' | translate"
      styleClass="p-button-raised p-button-text"
      type="button"
      (onClick)="onCancel()"></p-button>
    <p-button
      [label]="'BUTTONS.save' | translate"
      styleClass="p-button-raised"
      type="submit"></p-button>
  </div>
</form>

<div class="card flex justify-content-center gap-2">
  <p-confirmDialog
    #cd
    [style]="{ width: '50vw', backgroundColor: 'var(--surface-a)' }">
    <ng-template pTemplate="header">
      <div class="flex flex-column gap-2 w-full align-items-start">
        <h3>Add new empty project or choose an existing</h3>
        <app-cv-projects
          (pickProject)="acceptProject(cd, $event)"></app-cv-projects>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button
        type="button"
        label="Add empty project"
        (click)="acceptProject(cd, null)"></p-button>
      <p-button
        type="button"
        icon="pi pi-times"
        label="Cancel"
        (click)="cd.reject()"></p-button>
    </ng-template>
  </p-confirmDialog>
</div>

<p-dialog
  [(visible)]="showSaveMessage"
  [header]="message"
  [modal]="true"
  [style]="{ width: '50vw', backgroundColor: 'var(--surface-a)' }"
  [draggable]="false"
  [resizable]="false">
</p-dialog>
