@use '../../../../styles/mixins' as m;

:host{
  flex-grow: 1;

  & ::ng-deep{
    .p-accordion{
      display: flex;
      flex-direction: column;
    }
  }

  @include m.medium{
    margin-bottom: 1.5rem;
  }
}

.add-btn{
  align-self: flex-end;
}

