<ng-container *ngIf="(loading$ | async) === false; else spinner">
  <div class="info" *ngIf="employee$ | async as employee; else fileAbsent">
    <h2>{{ employee.firstName }} {{ employee.lastName }}</h2>
    <p-tabView
      (onChange)="changeActivePage($event)"
      [activeIndex]="currentPageIndex">
      <p-tabPanel [header]="'EMPLOYEES.tabs.info.title' | translate">
        <app-employee-form
          [employee]="employee"
          (sendFormData)="dialog.showMessage()">
          <p-button
            [label]="'BUTTONS.back' | translate"
            styleClass="p-button-raised p-button-text"
            type="button"
            class="mr-auto"
            (onClick)="navigateToList()"></p-button>
        </app-employee-form>
      </p-tabPanel>
      <p-tabPanel [header]="'EMPLOYEES.tabs.cvList.title' | translate">
        <app-cvs [employee]="employee"></app-cvs>
      </p-tabPanel>
    </p-tabView>
  </div>
</ng-container>

<ng-template #fileAbsent>
  <app-file-not-exist [buttonRoute]="'employees'"></app-file-not-exist>
</ng-template>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<app-dialog #dialog></app-dialog>
