<div class="info" *ngIf="employee$ | async as employee">
  <h2>{{ employee.firstName }} {{ employee.lastName }}</h2>
  <p-tabView>
    <p-tabPanel [header]="'EMPLOYEES.tabs.info.title' | translate">
      <app-employee-info
        [employee]="employee"
        (saveInfo)="onUpdateEmployee($event)"></app-employee-info>
      <div class="save-msg" *ngIf="showSaveMessage">
        <p-card>
          <p class="m-0">Information has been saved</p>
        </p-card>
      </div>
    </p-tabPanel>
    <p-tabPanel [header]="'EMPLOYEES.tabs.cvList.title' | translate">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non
        numquam eius modi.
      </p>
    </p-tabPanel>
  </p-tabView>
</div>
