<div class="card flex justify-content-center gap-2">
  <p-confirmDialog #cd styleClass="projects-table">
    <ng-template pTemplate="header">
      <div class="flex flex-column gap-2 w-full align-items-start">
        <h3 class="text-center w-full">
          {{ 'DIALOGS.cvProjects' | translate }}
        </h3>
        <p-table
          class="w-full"
          [value]="(projects$ | async) || []"
          [tableStyle]="{ 'min-width': '10rem', width: '100%' }"
          [paginator]="true"
          [rows]="10">
          <ng-template pTemplate="header">
            <tr>
              <th>{{ 'INFO.name' | translate }}</th>
              <th>{{ 'INFO.startDate' | translate }}</th>
              <th>{{ 'INFO.endDate' | translate }}</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-project>
            <tr class="table-row" (click)="projectPicked(project, cd)">
              <td>{{ project.name }}</td>
              <td>{{ project.start | date }}</td>
              <td>{{ project.end | date }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="btn-container flex gap-2 justify-content-end w-full">
        <p-button
          type="button"
          [label]="'BUTTONS.addEmpty' | translate"
          (click)="acceptProject(cd, null)"></p-button>
        <p-button
          type="button"
          styleClass="p-button-text p-button-raised"
          [label]="'BUTTONS.cancel' | translate"
          (click)="cd.reject()"></p-button>
      </div>
    </ng-template>
  </p-confirmDialog>
</div>
