@use '../../../../styles/variables' as v;
@use '../../../../styles/mixins' as m;

:host{
  width: 100%;
}

.header{
  width: 100%;
  padding: v.$padding-vertical v.$padding-horizontal;
  background-color: var(--surface-b);
  border-bottom: 1px solid var(--surface-d);
}
