<nav
  class="nav-list"
  *ngIf="(widowSizeSmall$ | async) === false; else smallNav">
  <ul class="flex flex-column">
    <li *ngFor="let link of links | async">
      <a
        [routerLink]="[link.routerLink]"
        routerLinkActive="active"
        class="flex gap-2 align-items-center nav-link">
        <i [class]="link.icon"></i>
        {{ link.label }}
      </a>
    </li>
  </ul>
</nav>

<ng-template #smallNav>
  <p-button
    class="menu-btn"
    icon="pi pi-bars"
    styleClass="p-button-text"
    (click)="menu.toggle($event)"></p-button>
  <p-menu #menu [model]="(links | async) || []" [popup]="true"></p-menu>
</ng-template>
