@use '../../../../styles/variables' as v;
@use '../../../../styles/mixins' as m;

:host{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 17%;
  flex-shrink: 0;
  border-right: 1px solid var(--surface-d);

  @include m.small{
    position: absolute;
    border: none;
    top: v.$padding-vertical;
    left: v.$padding-horizontal;
    height: fit-content;
    width: fit-content;
  }

  &::ng-deep{
    .p-menu-overlay{
      position: inherit;
    }
  }
}

.nav-link{
  padding: 0 var(--content-padding);
  line-height: 250%;

  &:hover{
    width: 100%;
    background-color: var(--surface-c);
  }
}

