<ng-container [formGroup]="form">
  <div class="flex flex-column gap-1 w-full">
    <label [htmlFor]="control.key">{{
      'INFO.' + [control.key] | translate
    }}</label>
      <textarea rows="5" cols="30" pInputTextarea [formControlName]="control.key"
      [attr.aria-describedby]="control.key + '-help'"
      [id]="control.key"></textarea>
    <small
      [id]="control.key + '-help'"
      class="error-msg"
      [appInputError]="control.value">
      {{
        control.value.errors
          | errorMsg: ('INFO.' + control.key | translate)
          | async
      }}
    </small>
  </div>
</ng-container>
