<div class="inputs formgrid grid" [formGroup]="form">
  <app-text-input
    class="field col-6"
    [control]="{ key: 'firstName', value: firstName }"></app-text-input>
  <app-text-input
    class="field col-6"
    [control]="{ key: 'lastName', value: lastName }"></app-text-input>
  <app-text-input
    class="field col-6"
    [control]="{ key: 'email', value: email }"></app-text-input>
  <app-text-input
    class="field col-6"
    [control]="{ key: 'department', value: department }"></app-text-input>
  <app-text-input
    class="field col-6"
    [control]="{ key: 'line', value: line }"></app-text-input>
</div>
