<form
  [formGroup]="infoForm"
  (submit)="onSubmit()"
  class="flex flex-column gap-2">
  <p-accordion [multiple]="true" [activeIndex]="[0, 1, 2]">
    <p-accordionTab [header]="'EMPLOYEES.tabs.info.panelInfo' | translate">
      <div class="inputs formgrid grid">
        <ng-container *ngFor="let controlName of personalInfoControlNames">
          <app-labelled-input
            *ngIf="infoForm | getControl: controlName as control"
            [controlName]="controlName"
            class="field col-12 sm:col-6"
            [errors]="control.errors || null"
            [showError]="control.invalid && control.touched">
            <input pInputText type="text" [formControlName]="controlName" />
          </app-labelled-input>
        </ng-container>
      </div>
    </p-accordionTab>

    <p-accordionTab
      [header]="'ENTITIES.skills' | translate"
      contentStyleClass="flex flex-column gap-3 align-items-end">
      <app-skill-form
        arrayName="skills"
        [initValue]="employee.skills"
        [options$]="techOptions$"
        [resetForm$]="resetForm$"
        [markAsTouched$]="markAsTouched$"></app-skill-form>
    </p-accordionTab>

    <p-accordionTab
      [header]="'ENTITIES.langs' | translate"
      contentStyleClass="flex flex-column gap-3 align-items-end">
      <app-skill-form
        arrayName="langs"
        [initValue]="employee.langs"
        [options$]="langOptions$"
        [resetForm$]="resetForm$"
        [markAsTouched$]="markAsTouched$"></app-skill-form>
    </p-accordionTab>
  </p-accordion>
  <div class="btn-container flex justify-content-end gap-3 mt-3">
    <ng-content></ng-content>
    <div class="save-btns flex justify-content-end gap-3">
      <p-button
        class="btn"
        [label]="'BUTTONS.cancel' | translate"
        styleClass="p-button-raised p-button-text"
        type="button"
        (onClick)="onCancel()"></p-button>
      <p-button
        class="btn"
        [label]="'BUTTONS.save' | translate"
        styleClass="p-button-raised"
        type="submit"></p-button>
    </div>
  </div>
</form>
