@use '../../../../styles/mixins' as m;

:host {
  @include m.host-flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.wrapper{
  @include m.medium{
    flex-direction: column;
  }
}
