@use '../../../../styles/mixins' as m;

:host{
  display: flex;
  flex-grow: 1;
}

:host ::ng-deep{
  .p-autocomplete{
    width: 100%;
  }
}

.container{
  @include m.mobile{
    flex-direction: column;
  }
}

.wrapper{
  @include m.mobile{
    flex-direction: column-reverse;
    gap: 0 !important;
  }
}

.input{
  @include m.mobile{
    width: 100% !important;
  }
}
