<div *ngIf="project$ | async as project" class="flex flex-column">
  <div class="flex justify-content-between align-items-center w-full">
    <h2>{{ project.name }}</h2>
    <p-button
    [label]="'BUTTONS.archive' | translate"
    styleClass="p-button-raised p-button-text"
    (onClick)="deleteProject()"></p-button>
  </div>
  <app-project-form [project]="project" [id]="id" (sendFormData)="submitData($event)">
    <p-button
    [label]="'BUTTONS.back' | translate"
    styleClass="p-button-raised p-button-text"
    type="button"
    class="mr-auto"
    (onClick)="navigateToList()"></p-button>
  </app-project-form>
</div>

<p-dialog
[(visible)]="showSaveMessage"
header="Information has been saved"
[modal]="true"
[style]="{ width: '50vw', backgroundColor: 'var(--surface-a)' }"
[draggable]="false"
[resizable]="false">
</p-dialog>
