@use '../../../../styles/mixins' as m;

:host{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper{
  gap: 0.5rem;

  @include m.mobile{
    flex-direction: column;
  }

  & ::ng-deep{
    .col-12{
      padding: 0;
    }

    .p-datepicker{
      top: 2.5rem !important;
      padding: 0;

      .p-datepicker-header{
        padding: 0.25rem;
      }

      .p-link,
      table,
      .p-yearpicker-year,
      .p-datepicker-decade,
      .p-monthpicker-month {
        font-size: 0.75rem !important;
        padding: 0.25rem;
      }

      table {
        th,
        td{
        padding: 0.1rem;
        text-align: center;
        }

        td > span {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
