<p-card class="auth-card">
  <form
    [formGroup]="authForm"
    class="card flex flex-column justify-content-center gap-5"
    (submit)="onSubmit()">
    <div class="inputs flex flex-column gap-1">
      <div class="flex flex-column gap-1">
        <label htmlFor="username">{{ 'AUTH.username' | translate }}</label>
        <input
          pInputText
          placeholder="johndoe@mail.com"
          type="text"
          formControlName="username"
          id="username"
          aria-describedby="username-help" />
        <small
          id="username-help"
          class="error-msg"
          [ngClass]="{ visible: username.invalid && username.touched }"
          >{{ showError(username, 'AUTH.username' | translate) | async }}</small
        >
      </div>
      <div class="flex flex-column gap-1">
        <label for="password">{{ 'AUTH.password' | translate }}</label>
        <p-password
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          placeholder="********"></p-password>
        <small
          id="password-help"
          class="error-msg"
          [ngClass]="{ visible: password.invalid && password.touched }"
          >{{ showError(password, 'AUTH.password' | translate) | async }}</small
        >
      </div>
    </div>
    <div class="btn-container flex justify-content-around gap-2">
      <p-button
        [label]="'AUTH.confirm' | translate"
        styleClass="p-button-raised"
        type="submit"></p-button>
      <p-button
        [label]="'AUTH.cancel' | translate"
        styleClass="p-button-raised p-button-text"
        (onClick)="onCancel()"></p-button>
    </div>
  </form>
</p-card>
