<form
  [formGroup]="authForm"
  class="auth-form card flex flex-column justify-content-center gap-3">
  <div class="flex flex-column gap-2">
    <label htmlFor="username">Username</label>
    <input
      pInputText
      placeholder="Username"
      type="text"
      formControlName="username"
      id="username"
      aria-describedby="username-help" />
    <small
      id="username-help"
      class="error-msg"
      [ngClass]="{ visible: !username.valid && username.touched }"
      >Enter your username.</small
    >
  </div>
  <div class="flex flex-column gap-2">
    <label for="password">Password</label>
    <p-password
      formControlName="password"
      [feedback]="false"
      [toggleMask]="true"
      placeholder="Password"></p-password>
    <small
      id="password-help"
      class="error-msg"
      [ngClass]="{ visible: !password.valid && password.touched }"
      >Enter your password.</small
    >
  </div>
  <div class="btn-container flex justify-content-around gap-2">
    <p-button
      label="Confirm"
      styleClass="p-button-raised"
      type="submit"></p-button>
    <p-button
      label="Cancel"
      styleClass="p-button-raised p-button-text"></p-button>
  </div>
</form>
