<div class="switchers flex gap-2">
  <app-theme-switch></app-theme-switch>
  <app-lang-switch></app-lang-switch>
</div>
<p-card class="auth-card">
  <form
    [formGroup]="authForm"
    class="card flex flex-column justify-content-center gap-5"
    (submit)="onSubmit()">
    <div class="inputs flex flex-column gap-1">
      <app-text-input
        [control]="{ key: 'username', value: username }"></app-text-input>

      <div class="flex flex-column gap-1">
        <label for="password">{{ 'INFO.password' | translate }}</label>
        <p-password
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          placeholder="********"></p-password>
        <small id="password-help" class="error-msg" [appInputError]="password"
          >{{
            password.errors | errorMsg: ('INFO.password' | translate) | async
          }}
        </small>
      </div>
    </div>
    <div class="btn-container flex justify-content-around gap-2">
      <p-button
        [label]="'AUTH.confirm' | translate"
        styleClass="p-button-raised"
        type="submit"></p-button>
      <p-button
        [label]="'AUTH.cancel' | translate"
        styleClass="p-button-raised p-button-text"
        (onClick)="onCancel()"></p-button>
    </div>
  </form>
</p-card>
