@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

:host {
  @include m.host-flex;
}

.auth-card{
  width: 40%;
}

.error-msg{
  color: var(--red-500);
  visibility: hidden;

  &.visible{
    visibility: visible;
  }
}

.switchers{
  position: absolute;
  right: v.$padding-horizontal;
  top: v.$padding-vertical;
}
