<h2>{{ 'ENTITIES.title' | translate }}</h2>
<div
  class="flex align-items-center justify-content-between w-full flex-grow-1 container">
  <p-button
    class="w-3 h-10rem"
    styleClass="p-button-raised p-button-text
    w-full h-full flex flex-column align-items-center justify-content-center gap-3"
    (onClick)="navigateToEntitiesList('langs')">
    <i class="pi pi-language" style="font-size: 2.5rem"></i>
    <span>{{ 'ENTITIES.langs' | translate }}</span>
  </p-button>

  <p-button
    class="w-3 h-10rem"
    styleClass="p-button-raised p-button-text
    w-full h-full  flex flex-column align-items-center justify-content-center gap-3"
    (onClick)="navigateToEntitiesList('responsibilities')">
    <i class="pi pi-sitemap" style="font-size: 2.5rem"></i>
    <span>{{ 'ENTITIES.responsibilities' | translate }}</span>
  </p-button>

  <p-button
    class="w-3 h-10rem"
    styleClass="p-button-raised p-button-text
    w-full h-full flex flex-column align-items-center justify-content-center gap-3"
    (onClick)="navigateToEntitiesList('skills')">
    <i class="pi pi-wrench" style="font-size: 2.5rem"></i>
    <span>{{ 'ENTITIES.skills' | translate }}</span>
  </p-button>
</div>
