@use '../../../../styles/mixins' as m;

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid var(--surface-d);
  border-radius: var(--border-radius);
}

.list{
  height: 80%;
  overflow: auto;
}

.cv-item{
  @include m.div-button;
}
