<div class="list-container flex flex-column gap-3 h-full">
  <ng-container *ngIf="cvsObservable$ | async as items">
    <p-listbox [options]="items" optionLabel="name" [filter]="true">
      <ng-template let-item pTemplate="item">
        <div class="flex justify-content-between align-items-center w-full">
          <button
            class="cv-item flex justify-content-between align-items-center w-full"
            (click)="setPickedId(item.id, item.name)">
            <span class="line-height-1">{{ item.name }}</span>
            <p-button
              icon="pi pi-trash"
              styleClass="p-button-text p-button-rounded"
              (onClick)="removeCv($event, item.id)"></p-button>
          </button>
        </div>
      </ng-template>
    </p-listbox>
  </ng-container>
</div>
<p-button
  icon="pi pi-plus"
  [label]="'CV.addCv' | translate"
  styleClass="p-button-raised"
  type="submit"
  (onClick)="addCv()"></p-button>

<div class="card flex justify-content-center gap-2">
  <p-confirmDialog
    #cd
    [style]="{ width: '50vw', backgroundColor: 'var(--surface-a)' }">
    <ng-template pTemplate="header">
      <div class="flex flex-column gap-2 w-full align-items-start">
        <h3>Enter CV name</h3>
        <input type="text" pInputText [(ngModel)]="newCvName" />
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button
        type="button"
        icon="pi pi-times"
        label="Cancel"
        (click)="cd.reject()"></p-button>
      <p-button
        type="button"
        icon="pi pi-check"
        label="Save"
        (click)="cd.accept()"></p-button>
    </ng-template>
  </p-confirmDialog>
</div>
