@mixin host-flex{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

@mixin div-button{
  padding: 0 1rem;
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--text-color);
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin large {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin medium {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin small {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile{
  @media (max-width: 576px){
    @content;
  }
}

@mixin mobile-vertical {
  @media (max-width: 576px) and (min-height: 650px) {
    @content;
  }
}

@mixin mobile-vertical-l {
  @media (max-width: 576px) and (min-height: 800px) {
    @content;
  }
}

@mixin mobile-horizontal {
  @media (min-width: 650px) and (max-height: 576px) {
    @content;
  }
}

@mixin mobile-horizontal-l {
  @media (min-width: 800px) and (max-height: 576px) {
    @content;
  }
}
