.p-input-icon-right>.p-icon-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
}

.p-inputwrapper,
.p-password-input{
  width: 100%;
}

.p-divider.p-divider-horizontal{
  margin: 0.25rem 0;
}

.p-button{
  cursor: pointer;
}

app-theme-switch,
app-lang-switch,
app-employee-table,
app-projects-table {
  .p-button{
    display: flex;
    padding: var(--inline-spacing);
    background-color: var(--surface-0);
    border-radius: calc(var(--border-radius) * 4);
    width: 35px;
    overflow: hidden;
    cursor: pointer;

    &:focus{
      box-shadow: none !important;
    }

    &.p-button-text{
      color: var(--text-color);

      &:enabled:hover{
        color: var(--text-color-secondary);
      }
    }

    &.p-button-icon-only{
      width: 35px;
      padding: var(--inline-spacing);
    }
  }
}

app-employee-table,
app-projects-table {
  .p-button.p-button-text:enabled:hover{
    background: rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
  }
}

.p-card .p-card-content{
  padding: var(--content-padding);
}

app-auth{
  .p-card .p-card-content{
    padding: var(--content-padding) var(--content-padding) 0;
  }
}

app-crumbs{
  .p-breadcrumb{
    padding: var(--inline-spacing);

    .p-breadcrumb-list li.p-menuitem-separator{
      margin: 0 0.25rem 0 0.25rem;
    }
  }

  .p-component,
  .pi{
    font-size: 0.75rem;
  }

  .p-icon{
    width: 0.75rem;
    height: 0.75rem;
  }

  .p-icon-wrapper{
    display: flex;
  }

}

app-employee-details{
  .p-dialog-header{
    border-radius: var(--border-radius);
  }

  .p-dialog-title{
    flex-grow: 1;
    text-align: center;
  }

  .p-dialog-content{
    padding: 0 !important;
  }
}

.p-link{
  text-align: left;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  user-select: none;
}

.p-datepicker .p-datepicker-header .p-datepicker-title {
  .p-datepicker-year,
  .p-datepicker-month {
    &:enabled:hover{
      color: #4c38a5;
    }
  }
}

.p-datepicker table td > span{
  text-align: center;
  line-height: 100%;
}

app-double-date{
  .p-calendar{
    width: 100%;
  }
}

app-stack-input{
  .p-autocomplete{
    width: 100%;
  }

  .p-autocomplete-dd .p-autocomplete-multiple-container{
    flex-grow: 1;
  }
}
