@use './mixins' as m;

.p-input-icon-right{
  position: relative;

  &>.p-icon-wrapper,
  &>i {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
  }
}

.p-inputwrapper,
.p-password-input{
  width: 100%;
}

.p-divider.p-divider-horizontal{
  margin: 0.25rem 0;
}

.p-button{
  cursor: pointer;
  padding: 0.55rem 1.25rem;
}

app-theme-switch,
app-lang-switch,
app-employee-table,
app-projects-table,
app-login,
app-navigation,
app-header {
  .p-button{
    display: flex;
    padding: var(--inline-spacing);
    background-color: var(--surface-0);
    border-radius: calc(var(--border-radius) * 4);
    width: 2rem;
    overflow: hidden;
    cursor: pointer;

    &:focus{
      box-shadow: none !important;
    }

    &.p-button-text{
      color: var(--text-color);

      &:enabled:hover{
        color: var(--text-color-secondary);
      }
    }

    &.p-button-icon-only{
      width: 2.1rem;
      height: 2.1rem;
      padding: var(--inline-spacing);
    }
  }
}

app-employee-table,
app-projects-table {
  .p-button.p-button-text:enabled:hover{
    background: rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
  }

  .p-datatable .p-datatable-tbody > tr > td,
  .p-datatable .p-datatable-thead > tr > th {
    @include m.small{
      padding: 0.5rem 0.5rem;
    }

    @include m.mobile-vertical{
      max-width: 3.8rem;
      text-overflow: ellipsis;
      overflow: hidden;

    }
  }

  .p-datatable .p-datatable-tbody > tr{
    background: transparent;
  }

  .p-paginator {
    background: none;
    border: none;

    .p-paginator-pages .p-paginator-page{
      border-radius: 50%;

      @include m.small{
        min-width: 2rem;
        height: 2rem;
      }
    }
  }
}

.p-card {
  position: relative;
  z-index: 2;

  &.p-card-content{
    padding: var(--content-padding);
  }
}

app-auth{
  .p-card .p-card-content{
    padding: var(--content-padding) var(--content-padding) 0;

    @include m.small{
      padding: 0.75rem 0.75rem 0;
    }
  }
}

app-crumbs{
  .p-breadcrumb{
    padding: var(--inline-spacing);

    .p-breadcrumb-list li.p-menuitem-separator{
      margin: 0 0.25rem 0 0.25rem;
    }
  }

  .p-component,
  .pi{
    font-size: 0.75rem;
  }

  .p-icon{
    width: 0.75rem;
    height: 0.75rem;
  }

  .p-icon-wrapper{
    display: flex;
  }

}

app-employee-details{
  .p-dialog-header{
    border-radius: var(--border-radius);
    padding: .5rem .5rem 0 !important;
  }

  .p-dialog-content{
    padding: 0 1rem 1rem !important;
  }

  .p-dialog-title{
    flex-grow: 1;
    text-align: center;
  }

  .p-tabview .p-tabview-panels{
    padding: var(--content-padding) 0;
    background: transparent;
  }
}

.p-link{
  text-align: left;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  user-select: none;
}

.p-datepicker .p-datepicker-header .p-datepicker-title {
  .p-datepicker-year,
  .p-datepicker-month {
    &:enabled:hover{
      color: #4c38a5;
    }
  }
}

.p-datepicker table td > span{
  text-align: center;
  line-height: 100%;
}

app-double-date{
  .p-calendar{
    width: 100%;
  }
}

app-stack-input,
app-project-form{
  .p-autocomplete{
    width: 100%;
  }

  .p-autocomplete-dd .p-autocomplete-multiple-container{
    flex-grow: 1;
  }
}

app-cv-list{
  .p-inputtext{
    width: 100%;
  }
}

.tab-header {
  padding: 0.35rem var(--content-padding) !important;
}

.p-listbox .p-listbox-list .p-listbox-item{
  padding: 0;
}

.p-menu{
  width: fit-content;
}

app-entities{
  .p-carousel{
    & > *{
      box-sizing: border-box;
    }
  }

  .p-carousel-items-container {
    height: 10rem;
    min-width: 9rem;
  }

  .p-carousel-item{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next{
    @include m.mobile{
      margin: 0;
    }
  }

  .p-button{
    @include m.mobile{
      padding: 0.55rem;
    }
  }
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link{
  background: var(--surface-c);
}
