<app-entity-list
  *ngIf="itemsList$ | async as items"
  [itemsList]="items"
  [id]="id"
  (removeItem)="updateList()"></app-entity-list>

<div class="flex flex-column gap-3 flex-grow-1 align-items-end">
  <p-button
    [label]="'ENTITIES.addItem' | translate"
    styleClass="p-button-raised p-button-text"
    (onClick)="addItem()"
    [disabled]="!newValueControl.value"></p-button>
  <div class="flex flex-column gap-1 w-full">
    <label htmlFor="newItem">{{ 'INFO.name' | translate }}</label>
    <input
      class="w-full"
      type="text"
      pInputText
      name="newItem"
      [formControl]="newValueControl" />
  </div>
</div>
