<app-entity-list [id]="id"></app-entity-list>

<form
  class="flex flex-column gap-3 flex-grow-1 align-items-end"
  (ngSubmit)="addItem()">
  <p-button
    [label]="'ENTITIES.addItem' | translate"
    styleClass="p-button-raised p-button-text"
    [disabled]="!newValueControl.value"
    type="submit"></p-button>
  <div class="flex flex-column gap-1 w-full">
    <app-labelled-input
      controlName="name"
      [errors]="newValueControl.errors"
      [showError]="newValueControl.invalid && newValueControl.touched">
      <input
        class="w-full"
        type="text"
        pInputText
        name="newItem"
        [formControl]="newValueControl" />
    </app-labelled-input>
  </div>
</form>
