:host {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.list-container{
  border: 1px solid var(--surface-d);
  border-radius: var(--border-radius);
}

.list{
  height: 80%;
  overflow: auto;
}
