<ng-container [formGroup]="form">
  <div class="flex flex-column gap-1 w-full">
    <label [htmlFor]="control.key">{{
      'INFO.' + [control.key] | translate
    }}</label>
    <input
      pInputText
      type="text"
      [formControlName]="control.key"
      [id]="control.key"
      [attr.aria-describedby]="control.key + '-help'" />
    <small
      [id]="control.key + '-help'"
      class="error-msg"
      [ngClass]="{
        visible: control.value.invalid && control.value.touched
      }"
      >{{
        showError(control.value, 'INFO.' + control.key | translate) | async
      }}</small
    >
  </div>
</ng-container>
