<div class="inputs formgrid grid" [formGroup]="form">
  <app-text-input
    class="field col-12"
    [control]="{ key: 'internalName', value: internalName }"></app-text-input>
  <app-text-input
    class="field col-4"
    [control]="{ key: 'name', value: name }"></app-text-input>
  <app-date-input [control]="dates"
    [dates]="{start: project.start, end: project.end}"
    class="field col-8"></app-date-input>
  <app-stack-input controlName="techStack" class="field col-7"></app-stack-input>
  <app-text-input
    class="field col-7"
    [control]="{ key: 'domain', value: domain }"></app-text-input>
  <app-textarea-input
    class="field col-12"
    [control]="{ key: 'description', value: description }"></app-textarea-input>
</div>
