<form
  [formGroup]="infoForm"
  (submit)="onSubmit()"
  class="flex flex-column gap-2">
  <p-accordion [multiple]="true" [activeIndex]="[0, 1, 2]">
    <p-accordionTab [header]="'EMPLOYEES.tabs.info.panelInfo' | translate">
      <app-personal-info [employee]="employee"></app-personal-info>
    </p-accordionTab>

    <p-accordionTab
      [header]="'EMPLOYEES.tabs.info.panelSkills' | translate"
      contentStyleClass="flex flex-column gap-4 align-items-end">
      <app-skills
        [formArrayName]="'skills'"
        [itemName]="'skill'"
        [optionsAvailable]="(skillsOptions$ | async) || []"
        [initialItems]="employee.skills"></app-skills>
    </p-accordionTab>

    <p-accordionTab
      [header]="'EMPLOYEES.tabs.info.panelLangs' | translate"
      contentStyleClass="flex flex-column gap-4 align-items-end">
      <app-skills
        [formArrayName]="'langs'"
        [itemName]="'lang'"
        [optionsAvailable]="(langsOptions$ | async) || []"
        [initialItems]="employee.langs"></app-skills>
    </p-accordionTab>
  </p-accordion>
  <div class="btn-container flex justify-content-end gap-3">
    <p-button
      [label]="'BUTTONS.back' | translate"
      styleClass="p-button-raised p-button-text"
      type="button"
      class="mr-auto"
      (onClick)="navigateToList()"></p-button>
    <p-button
      [label]="'BUTTONS.cancel' | translate"
      styleClass="p-button-raised p-button-text"
      type="button"
      (onClick)="onCancel()"></p-button>
    <p-button
      [label]="'BUTTONS.save' | translate"
      styleClass="p-button-raised"
      type="submit"></p-button>
  </div>
</form>
