<ng-container [formGroup]="form" *ngIf="(optionsFiltered$ | async) as options">
  <div class="flex flex-column gap-1 w-full">
    <label [htmlFor]="controlName">{{
      'INFO.' + controlName | translate
    }}</label>
    <p-autoComplete [formControlName]="controlName" [suggestions]="options"
    (completeMethod)="filterOptions($event.query)" [multiple]="true" [name]="controlName"
    [id]="controlName"
    [dropdown]="true"></p-autoComplete>
  </div>
  <small
  [id]="controlName + '-help'"
  class="error-msg"
  [appInputError]="control">
  {{
    control.errors
      | errorMsg: ('INFO.' + controlName | translate)
      | async
  }}
</small>
</ng-container>

